.main
{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f5fa;;
}

.sub{
    width: 90%;
    margin-top: 2rem;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem ;
    border-bottom: 2px solid rgba(10,30,50,0.1);
    padding: 0 0 1rem 0;
}