.main_navbar{
        /* background: #262c36; */
        border-bottom: 1px solid rgba(10,30,50,.1);
        display: flex;
        align-items: center;
        justify-content: space-between; 
        height: 4rem;      
}

.left{
        display: flex;
        align-items: center;
        justify-content: space-between;   
        padding:2px 1rem;
}

.nav_logo {
    margin: 0 1rem;
    height: 35px;
    width: 35px;
}

.h1{
   font-size: 20px;
}

.left_browse{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.browse{
    font-size: 15px;
    margin: 0 0.4rem;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_search
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f5fa;
    padding: 7px;
    border-radius: 20px;
    margin: 0 1rem;

}

.right_search input{
    margin: 0 1rem;
    outline: none;
    border: none;
    width: 15rem;
    background: #f2f5fa;
}

.right img{
    margin: 0 0.2rem 0 1rem;
}

.right h3{
    color:#f3912e;
    margin:0rem 1.5rem 0 0 ;
}

@media screen and (max-width:800px)  {
    .right_search{
        display:none;
        visibility: hidden;
    }
}

@media screen and (max-width:450px)  {
    .h1{
        display: none;
    }
}

@media screen and (max-width : 1000px)
{
    .hamburger{
        display:none;
    }
}

@media screen and (max-width:350px) {
    .left_browse{
        display: none;
    }
}